<h1 class="text-center"><small>Users</small></h1>
<table class="table table-bordered">
  <thead>
  	<tr>
  		<th>Email</th>
  		<th>Role</th>
  		<th>&nbsp;</th>
  	</tr>
  </thead>
  <%= render @users %>
</table>
