<div class="row">

  <div class="col-xs-4 col-xs-offset-4">
    <button class=" btn btn-lg btn-block btn-success todo-new-button">New TODO</button>
  </div>
  <div class="col-xs-6 col-xs-offset-3">
    <%= render 'form', todo: Todo.new, url: user_todos_path(current_user.id, format: :json) %>
  </div>

</div>

<hr>

<div class="row">
  <div class="col-xs-12">
      <%= render @todos %>
  </div>
</div>
