body {
  padding-top: 70px;
}

.todos-navbar {
  background: #DB4C3F;
}

.todos-navbar a.navbar-brand {
  color: #fff;
}

.navbar .todos-main-nav li a{
  color: #fff;
  text-decoration: underline;
}

.todo-edit-form-wrapper {
  padding: 20px 10px;
}
